# CloudFormation Parameters Example
# Copy to parameters.json and fill in your values:
#
# [
#   {"ParameterKey": "AwsAccountId",    "ParameterValue": "123456789012"},
#   {"ParameterKey": "S3DataPath",      "ParameterValue": "my-bucket/prefix"},
#   {"ParameterKey": "ImageUri",        "ParameterValue": "123456789012.dkr.ecr.us-east-1.amazonaws.com/kiro-user-report-dashboard:latest"},
#   {"ParameterKey": "VpcId",           "ParameterValue": "vpc-xxxxxxxx"},
#   {"ParameterKey": "SubnetIds",       "ParameterValue": "subnet-aaa,subnet-bbb"},
#   {"ParameterKey": "DomainName",      "ParameterValue": "kiro.example.com"},
#   {"ParameterKey": "CertificateArn",  "ParameterValue": "arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"},
#   {"ParameterKey": "HostedZoneId",    "ParameterValue": "ZXXXXXXXXXXXXX"},
#   {"ParameterKey": "IdentityStoreId", "ParameterValue": "d-xxxxxxxxxx"}
# ]
